https://www.kaggle.com/datasets/ravindrasinghrana/carbon-co2-emissions/data

In [8]:
import pandas as pd
df=pd.read_csv("Carbon_(CO2)_Emissions_by_Country.csv")
df

          Country  Region        Date  Kilotons of Co2  Metric Tons Per Capita
0     Afghanistan    Asia  01-01-2011           8930.0                    0.31
1     Afghanistan    Asia  01-01-2012           8080.0                    0.27
2     Afghanistan    Asia  01-01-2010           7110.0                    0.25
3     Afghanistan    Asia  01-01-2019           6080.0                    0.16
4     Afghanistan    Asia  01-01-2018           6070.0                    0.17
...           ...     ...         ...              ...                     ...
5672     Zimbabwe  Africa  01-01-2004           9770.0                    0.80
5673     Zimbabwe  Africa  01-01-2007           9760.0                    0.78
5674     Zimbabwe  Africa  01-01-2010           9600.0                    0.75
5675     Zimbabwe  Africa  01-01-2009           7750.0                    0.61
5676     Zimbabwe  Africa  01-01-2008           7600.0                    0.61

[5677 rows x 5 columns]